html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: url(../images/crystal-cave.png) center top no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

footer {
    margin-top: auto 0 0;
    text-align: center;
}

footer p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin: 5px;
    font-size: .7em;
    color: #a3708e;
    font-weight: 600;
    letter-spacing: .06em;
}

.target-box h3,
h1 {
    margin: 0;
    text-shadow: 1px 1px 2px rgb(152, 119, 230), 0 0 25px rgb(59, 167, 230), 0 0 5px rgb(255, 0, 212);
    letter-spacing: .09em;
    padding-bottom: 5px;
}

h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
}

h1 {
    font-family: 'Bahianita', cursive;
    font-size: 3.5em;
}

.wins-box p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    padding: 7px 17px;
    background: rgba(34, 9, 61, 0.753);
    border-radius: 8px;
}


.target-box {
    margin: 10px 0 25px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.0), rgb(34, 9, 61), rgba(255, 0, 0, 0.0));
    border-radius: 87px/29px;
}

.score-box {
    margin: 10px 0 25px;
    border-radius: 87px/29px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.0), rgb(85, 5, 81), rgba(255, 0, 0, 0.0));
}

h5 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: none;
    margin: 0;
    font-size: .8em;
    color: rgb(195, 158, 255);
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
}

.score-box h5 {
    color: #f060c2;
}

.score-box p {
    text-shadow: 1px 1px 2px rgb(152, 119, 230), 0 0 25px rgb(59, 167, 230), 0 0 5px rgb(255, 0, 212);
    font-size: 2em;
    padding: 5px 0 10px;
    margin: 0;
}

section {
    width: 900px;
    max-width: 95%;
    margin: auto;
    color: #fff;
    text-align: center;
}

.object {
    animation: action 1s infinite alternate;
}


@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-11px);
    }
}

.wins-box {
    width: 400px;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}

.crystals {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
    margin: 0 auto;
}

.crystals img {
    width: 60px;
    height: 104px;
}